@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addproduct {
    margin: 30px auto;
    width: 1200px;
    height: 80vh;

    .producthead {
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 0 0 10px 0;
        @include flex-between;
        
        h2 {
            font-size: 24px;
            color:#000;
            text-transform: uppercase;
        }
    }
    
    .controlButtons {
        
        .addButton {
           width: 50px; 
           height: 30px;
           margin-right: 10px;
           cursor: pointer;
           background: green;
           color:#fff;
           border:none;
           border-radius: 4px;
           transition: all .4s;
           
           &:hover {
            background: rgb(2, 87, 2);
           }
        }
        .deleteButton {
           width: 100px; 
           height: 30px;
           cursor: pointer;
           background: rgb(206, 18, 18);
           color:#fff;
           border:none;
           border-radius: 4px;
           transition: all .4s;
           
           &:hover {
            background: rgb(165, 4, 4);
           }
        }
    }
    
    .product_form {
        margin: 20px;
        width: 400px;
        .product_form_input {
            width: 400px;
            @include flex-between;
            margin: 0 0 20px 0;
            label{
                font-size: 24px;
            }
            input {
                width: 200px;
                height:28px;
                padding: 5px;
            }
        }
        
        .productType {
            width: 100%;
            margin-top: 30px;
            border-top: 1px solid #000;
            padding-top: 20px;
            @include flex-between;
            
            select {
                width: 200px;
                height: 28px;
            }
        }
        
        .productAttributes {
            
            .attributes {
                display: flex;
                flex-direction: column;
                
                h2 {
                    font-size: 24px;
                    margin: 20px 0 5px 0;
                }
                input {
                    height: 28px;
                    margin: 10px 0;
                    padding: 5px;
                }
            }
        }
    }
}

