@mixin flex-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.products {
    margin: 30px auto;
    width: 1200px;
    .producthead {
        width: 100%;
        border-bottom: 2px solid #000;
        padding: 0 0 10px 0;
        @include flex-between;
        
        h2 {
            font-size: 24px;
            color:#000;
            text-transform: uppercase;
        }
    }
    
    .controlButtons {
        
        .addButton {
           width: 50px; 
           height: 30px;
           margin-right: 10px;
           cursor: pointer;
           background: green;
           color:#fff;
           border:none;
           border-radius: 4px;
           transition: all .4s;
           text-transform: uppercase;
           
           &:hover {
            background: rgb(2, 87, 2);
           }
        }
        .deleteButton {
           width: 120px; 
           height: 30px;
           cursor: pointer;
           background: rgb(206, 18, 18);
           color:#fff;
           border:none;
           border-radius: 4px;
           transition: all .4s;
           text-transform: uppercase;
           
           &:hover {
            background: rgb(165, 4, 4);
           }
        }
    }
}

.productList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    row-gap: 20px;
    gap:10px;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: calc(100vh - 210px);
    overflow-y: scroll;
    

    .productListItem {
        width: 270px;
        height: 200px;
        border:2px solid #000;
        padding:15px;
        border-radius: 8px;
        
        .productChecked {
            
            input {
                width: 16px;
                height: 16px;
            }
        }
    }
    .productInfo {
        
        h2 {
            font-size: 20px;
            text-align: center;
            
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}
.product_sku {
    // text-transform: uppercase;
}
h2 {
    font-weight: 500;    
    font-style: normal;
}
.no_data {
    height: calc(100vh - 230px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    text-decoration: underline;
}