.footer {
    width: 1200px;
    margin:0 auto;
    border-top: 2px solid #000;
    padding: 20px 0 0 0;
    text-align: center;
    position: absolute;
    bottom:40px;
    left:50%;
    transform: translate(-50%, -50%);
    
    h2 {
        font-size: 18px;
        font-weight: normal;
    }
}